<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
    <parameter name = "browser" value="${browser_name}"/>
    <parameter name = "url" value="${url_name}"/>
    <parameter name = "author" value="${author_name}"/>

        <classes>

            <class name="testCases.testHolidays"/>
            <class name="testCases.testHotels"/>
            <class name="testCases.testbuses"/>
            <class name="testCases.testvillas"/>
<!--            <class name="testCases.testtrains"/>-->
            <class name="testCases.testFlight"/>
        </classes>
    </test>
</suite>